**/bin/
**/obj/
**/out/
**/.vs/
**/.idea/
**/.git/
**/.github/
**/.vscode/
**/TestResults/
**/.env
**/.env.local
**/appsettings.Development.json
**/appsettings.Local.json
deploy/
docs/
docker/
load_test/
**/node_modules/
**/*.md
**/*.log
**/.dockerignore
